// Ref:
// - https://getbootstrap.com/docs/5.3/utilities/spacing/
// - https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// - https://quarto.org/docs/output-formats/html-themes-more.html

/*-- scss:defaults --*/

/*-- scss:mixins --*/
$headings-font-weight: 300 !default;
$table-striped-bg: mix($primary, #FDFDFD, 2%);
$table-striped-order: even;

/*-- scss:rules --*/
$class-symbol-color: $primary;
$method-symbol-color: mix($primary, $teal-600, 20%);
$function-symbol-color: mix($primary, $cyan-500, 20%);
$alias-symbol-color: mix($primary, $green-500, 20%);
$module-symbol-color: mix($primary, $red-500, 20%);
$attribute-symbol-color: mix($primary, $orange-500, 20%);
$type-symbol-color: mix($primary, $purple-500, 20%);
$typevar-symbol-color: mix($primary, $yellow-500, 20%);
$signature-background-color: shade-color(tint-color($primary, 96%), 2%);

a {
   text-decoration: none;
}

h2, .h2 {
   border-bottom: 0rem;
}

// Set headings boldness back to the bootstrap default.
// quarto changes it for h1, h2, h3!
h1, .h2, h2, .h2, h3, .h3 {
   @extend .fw-medium;
}

h5, .h5 {
   @extend .mt-3;
}

table {
   @extend .table-bordered;
   @extend .table-striped;
}

.table > tbody {
   // quarto adds a bottom color that is different from the border color,
   // that looks good the default
   border-bottom-color: $table-border-color;
}

// The default background color for the dropdown is
// off-white and it washes out the text color.
.navbar .dropdown-item {
   color: $gray-800;
}

/*---------------------------------- Reference Page -----------------------------------*/

// definition-items
.doc-index .doc-group > dl > dd {
   @extend .mt-1;
   @extend .mb-0;
   @extend .ms-3;
}

// tables
// Give all the tables on the index page the same with.
// It looks better, but as table cells do not respond to
// min-width styling, this is not a perfect solution.
.doc-index .doc-group > table td:first-child{
   width: 30%;
}

/*------------------------------------- API Page --------------------------------------*/

// docstring object-name

.doc-object span.doc-object-name:not(h1.title > span) {
   opacity: 0.85;
}

// docstring object symbols
.content code.doc-symbol {
   font-size: 0.9rem;
}

// docstring signatures
.doc-signature > div:first-child {
   background-color: $signature-background-color;
}

.doc-signature code {
   max-height: 20rem;
   overflow: auto;
}

.doc-signature > p:first-child {
   @extend .my-3;
   border-radius: 0.25rem;
}

.doc-signature > p:first-child code {
   @extend .p-2;
   display: block;
}

.doc-signature > p:first-child code a {
   color: $primary;
}

// docstring sections with definition-items

$docstring-sections: ":is(.doc-parameters, .doc-other-parameters, .doc-returns, .doc-yields, .doc-receives, .doc-raises, .doc-warns, .doc-attributes, .doc-parameter-attributes, .doc-init-parameters, .doc-see-also)";

#{$docstring-sections} dl > dt {
  font-weight: normal;
}

#{$docstring-sections} dl > dd {
  @extend .mt-1;
  @extend .mb-0;
  @extend .ms-5;
}

#{$docstring-sections} dl > dt:not(:first-child) {
  @extend .mt-3;
}

#{$docstring-sections} dl > dd > table {
   min-width: 33%;
   width: 0;
}

#{$docstring-sections} dl > dd > table > thead {
   border-top: 0rem solid $border-color;
   border-bottom: 0.15em solid $border-color;
}

#{$docstring-sections} dl > dd > table td {
   @extend .px-2;
   @extend .py-1;
}

// Definitions that are code
#{$docstring-sections} dt code,
.doc-signature > p > code {
   @extend .p-2;
   display: block;
   font-weight: normal;
   color: var(--quarto-hl-ot-color);
   background-color: $signature-background-color;
}

.doc-text dt code {
   @extend .p-1;
   font-weight: normal;
   color: var(--quarto-hl-ot-color);
   background-color: $signature-background-color;
}

#{$docstring-sections} dt code a,
.doc-signature > p > code a {
   color: $primary;
}

// docstring spacing and indentation
section.doc-attributes > section.doc-attribute,
section.doc-methods > section.doc-method {
   @extend .ps-4;
   border-left: 0.025rem solid $gray-500;
   backgroud-color: cyan;
}

// sidebar
.sidebar nav li > a > code {
   color: $code-color;
   background-color: $gray-100;
   padding: 0.075rem 0.075rem;
}

$doc-object-names: "span.doc-object-name:is(.doc-class-name, .doc-method-name, .doc-module-name, .doc-function-name, .doc-alias-name, .doc-attribute-name, .doc-type-name, .doc-typevar)";
#{$doc-object-names}::before {
  @extend .px-1;
  font-size: 0.9rem;
  font-family: monospace;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

.sidebar #{$doc-object-names}::before {
  font-size: 0.55rem;
}

span.doc-object-name.doc-class-name::before {
  content: "class";
  color: $class-symbol-color;
  background-color: tint-color($class-symbol-color, 95%);
}

span.doc-object-name.doc-method-name::before {
  content: "meth";
  color: $method-symbol-color;
  background-color: tint-color($method-symbol-color, 95%);
}

span.doc-object-name.doc-function-name::before {
  content: "func";
  color: $function-symbol-color;
  background-color: tint-color($function-symbol-color, 95%);
}

span.doc-object-name.doc-attribute-name::before {
  content: "attr";
  color: $attribute-symbol-color;
  background-color: tint-color($attribute-symbol-color, 95%);
}

span.doc-object-name.doc-module-name::before {
  content: "mod";
  color: $module-symbol-color;
  background-color: tint-color($module-symbol-color, 95%);
}

span.doc-object-name.doc-alias-name::before {
  content: "alias";
  color: $alias-symbol-color;
  background-color: tint-color($alias-symbol-color, 95%);
}

span.doc-object-name.doc-type-name::before {
  content: "type";
  color: $type-symbol-color;
  background-color: tint-color($type-symbol-color, 95%);
}

span.doc-object-name.doc-typevar-name::before {
  content: "typevar";
  color: $typevar-symbol-color;
  background-color: tint-color($typevar-symbol-color, 95%);
}

// docstring object labels
.content .doc-labels > .doc-label {
  @extend .fw-normal;
  @extend .small;
  font-family: monospace;
  font-size: 0.785rem;
  color: $gray-800;
  background-color: $gray-100;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
}

.content .doc-labels > .doc-label-staticmethod::after {
  content: "staticmethod";
}

.content .doc-labels > .doc-label-classmethod::after {
  content: "classmethod";
}

.content .doc-labels > .doc-label-abstractmethod::after {
  content: "abstractmethod";
}

.content .doc-labels > .doc-label-cached::after {
  content: "cached";
}

.content .doc-labels > .doc-label-property::after {
  content: "property";
}

.content .doc-labels > .doc-label-overload::after {
  content: "typing.overload";
}

.content .doc-labels > .doc-label-protocol::after {
  content: "Protocol";
}

/*-- scss:functions --*/

/*-- scss:uses --*/
